.container {
    margin: 0 auto;
    width: 80%;
    background: #FFD11C;
    padding: 10px;
}
.center-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.left-container {
    padding-left: 50px;
    width: 30%;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #00044A;
}
.left-container-user {
    padding-left: 50px;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #00044A;
}
